<!--
  Generated template for the CusdetailsproducttopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.Customer_Details}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="selectedlanguage == 1">
  <form [formGroup]="customerForm">
    <ion-list no-lines>
      

      <ion-item>
        <ion-label stacked color="primary">{{select}} {{Package}}*</ion-label>
        <ion-select class="custom-select"  (ionChange)="selectpackage($event)" formControlName="sid">
        <!-- <ion-option value="" selected>{{this.please_select}}</ion-option> -->
        <ion-option value="{{s.id}}" *ngFor="let s of packagedetails">KWD {{s.price}} ({{this.for}} {{s.duration}} {{this.Days}})</ion-option>
        </ion-select>
    </ion-item>

      <ion-item>
        <ion-label stacked color="primary">{{this.Name}}</ion-label>
        <ion-input type="text"  placeholder="{{this.Name}}" formControlName="name" required>
        </ion-input>
      </ion-item>
    <p *ngIf="!customerForm.controls['name'].valid && customerForm.controls['name'].touched" ion-text color="danger" padding-left>
      {{this_field_is_required}} </p>
  
      <ion-item>
        <ion-label stacked color="primary">{{this.email}}</ion-label>
        <ion-input  type="text" placeholder="{{this.email}}" formControlName="email" required>
        </ion-input>
      </ion-item>
      <p *ngIf="!customerForm.controls['email'].valid && customerForm.controls['email'].touched" ion-text color="danger" padding-left>
        {{this_field_is_required}} </p>

      <ion-item>
        <ion-label stacked color="primary">{{this.phone}}</ion-label>
        <ion-input  type="number" placeholder="{{this.phone}}" formControlName="phone" required>
        </ion-input>
      </ion-item>
      <p *ngIf="!customerForm.controls['phone'].valid && customerForm.controls['phone'].touched" ion-text color="danger" padding-left>
        {{this_field_is_required}} </p>


      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary">{{this.Loyalty_Redeem}}</ion-label>
        <ion-input  type="number" min=0 formControlName="loyalty_redeem" required>
        </ion-input>
      </ion-item>


      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary">{{this.Loyalty_Remain}}: {{totalloyalty - customerForm.value.loyalty_redeem}}</ion-label>
      </ion-item>

      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary" *ngIf="price!=''">{{this.Total_Amount}}: {{price - customerForm.value.loyalty_redeem}}</ion-label>
        <ion-label stacked color="primary" *ngIf="price==''">{{this.Total_Amount}}: 0</ion-label>
      </ion-item>
      
      <ion-item *ngIf="user_type==2">
        <ion-label stacked color="primary" *ngIf="price!=''">{{this.Total_Amount}}: {{price}}</ion-label>
        <ion-label stacked color="primary" *ngIf="price==''">{{this.Total_Amount}}: 0</ion-label>
      </ion-item>

      <div padding class="p-b-5">
        <button ion-button round class="blue-btn" [disabled]="" (click)="submit(customerForm.value)"  type="submit" block>{{this.pay_now}}</button>
      </div>
  
  
    </ion-list>
  
  </form>
</ion-content>



<ion-content *ngIf="selectedlanguage == 2" class="rtl-arabic">
  <form [formGroup]="customerForm">
    <ion-list no-lines>
      

      <ion-item>
        <ion-label stacked color="primary">{{select}} {{Package}}*</ion-label>
        <ion-select class="custom-select"  (ionChange)="selectpackage($event)" formControlName="sid">
        <!-- <ion-option value="" selected>{{this.please_select}}</ion-option> -->
        <ion-option value="{{s.id}}" *ngFor="let s of packagedetails">KWD {{s.price}} (For {{s.duration}} Days)</ion-option>
        </ion-select>
    </ion-item>

      <ion-item>
        <ion-label stacked color="primary">{{this.Name}}</ion-label>
        <ion-input type="text"  placeholder="{{this.Name}}" formControlName="name" required>
        </ion-input>
      </ion-item>
    <p *ngIf="!customerForm.controls['name'].valid && customerForm.controls['name'].touched" ion-text color="danger" padding-left>
      {{this_field_is_required}} </p>
  
      <ion-item>
        <ion-label stacked color="primary">{{this.email}}</ion-label>
        <ion-input  type="text" placeholder="{{this.email}}" formControlName="email" required>
        </ion-input>
      </ion-item>
      <p *ngIf="!customerForm.controls['email'].valid && customerForm.controls['email'].touched" ion-text color="danger" padding-left>
        {{this_field_is_required}} </p>

      <ion-item>
        <ion-label stacked color="primary">{{this.phone}}</ion-label>
        <ion-input  type="number" placeholder="{{this.phone}}" formControlName="phone" required>
        </ion-input>
      </ion-item>
      <p *ngIf="!customerForm.controls['phone'].valid && customerForm.controls['phone'].touched" ion-text color="danger" padding-left>
        {{this_field_is_required}} </p>


      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary">{{this.Loyalty_Redeem}}</ion-label>
        <ion-input  type="number" min=0 formControlName="loyalty_redeem" required>
        </ion-input>
      </ion-item>


      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary">{{this.Loyalty_Remain}}: {{totalloyalty - customerForm.value.loyalty_redeem}}</ion-label>
      </ion-item>

      <ion-item *ngIf="user_type==1">
        <ion-label stacked color="primary" *ngIf="price!=''">{{this.Total_Amount}}: {{price - customerForm.value.loyalty_redeem}}</ion-label>
        <ion-label stacked color="primary" *ngIf="price==''">{{this.Total_Amount}}: 0</ion-label>
      </ion-item>
      
      <ion-item *ngIf="user_type==2">
        <ion-label stacked color="primary" *ngIf="price!=''">{{this.Total_Amount}}: {{price}}</ion-label>
        <ion-label stacked color="primary" *ngIf="price==''">{{this.Total_Amount}}: 0</ion-label>
      </ion-item>

      <div padding class="p-b-5">
        <button ion-button round class="blue-btn" [disabled]="" (click)="submit(customerForm.value)"  type="submit" block>{{this.pay_now}}</button>
      </div>
  
  
    </ion-list>
  
  </form>
</ion-content>
