page-myaccount {
  .grey-btn{
    padding: 24px 0 !important;
    font-size: 15px !important;
  }
  .map{
    position: relative;
  }
  .search{
    //position: absolute;
    //top: 26px;
    //left: 30px;
    //z-index: 1;
    position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  right: 0;
  margin: 0 auto;
  display: table;
  width: 79%;
  border-radius: 50px;
  border: 1px solid #dddddd;
  padding: 10px 10px;
  }
  .profile-top{padding:15px 10px;margin-bottom: 0; background: url('../assets/img/left-panel-bg.jpg') no-repeat bottom center; background-size: cover; }
  .profile-top .item{border: 0!important;  background-color: transparent;}
  .profile-top .item .label {margin: 0}
  .profile-top .item .profile-pic{position: relative; width:84px; margin: 5px auto}
  .profile-top .item .profile-pic img{width:84px; height:84px; border-radius: 100%; border: 2px solid #aaaaaa}
  .profile-top .edit{color: #fff; background: #797979; width:24px; height:24px; line-height: 24px; font-size:12px; border-radius: 100%; text-align: center; display: inline-block; position: absolute; right:-6px; bottom:12px}
  .profile-top h4{color: #fff; font-size: 1.6rem; margin-bottom: 0}
  .profile-top p{color: #999; font-size: 1.3rem; }

      
  .content { background: #e5e5e5 !important;  }
  .profile-info{box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2); padding-bottom: 15px; background: #fff; margin-bottom: 0}
  .profile-info .item{border: 0 !important}

  .profile-info ion-input{ border: 1px solid #e0e0e0; background-color: #f5f5f5; border-radius: 25px}
  .profile-info ion-select{ border: 1px solid #e0e0e0; background-color: #f5f5f5; border-radius: 25px}
  .profile-info .item{padding-right: 5px}
  .text-input, .select-text{ padding: 0 12px; font-size: 1.4rem; color: #404040;}
  .select-icon .select-icon-inner{left:0 !important}

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {border-bottom-color: none; -webkit-box-shadow: none; box-shadow: none;}



  .label{ color: #222222 !important;  font-size: 1.4rem !important;}
  .checkbox{ margin-right: 5px !important;}
  .checkbox .checkbox-checked{ background-color: #17a2b8; border-color: #17a2b8; }
  .grid .row .col .item .item-inner{ padding-right: 0!important; }
  .grid .row .col .item .item-inner .input-wrapper .label{ text-overflow: normal; white-space: normal; word-wrap: break-all; font-size: 1.2rem !important; margin-right: 0 !important;}
  .sign-in-btn{ background: #c94838; border-radius: 2px; font-family: 'Poppins', sans-serif; text-transform: inherit; font-weight: 400; background: -moz-linear-gradient(top, #c94838 0%, #c94838 50%, #b84031 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c94838 0%,#b84031 50%,#b84031 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c94838 0%,#b84031 50%,#b84031 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */ }
  
  .rdo-btn{ width: auto; }
  
  .phone-wrap{
      position: relative;
  }
  .phone-wrap ion-input{
      padding-left: 43px;
  }
  .phone-no{
    position: absolute;
    top: 51px;
    left: 24px;
    z-index: 99;
    border-right: 1px solid #9f9f9f;
    padding-right: 5px;
  }
  .phone-wrap{
    .label{
      margin: 10px 0 0px !important;
    }
  }    

.map-list .list-md, .map-list .list-ios {
  padding-top: 58px !important;
  padding-left: 15px !important;
  position: absolute;
  z-index: 999;
  min-width: 322px;
  max-width: 322px;
}


  .select-custom{
      .label{
        margin: 2px 0 0 !important;
      }
    }



      .country-select{
        border: 1px solid #e0e0e0;
        background-color: #f5f5f5;
        border-radius: 25px;
        height: 40px !important;
        text-align: left;
        color: #333;
        position: relative;
        padding-right: 32px !important;
        box-shadow: none;
        &:after{
          content: "";
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: #999;
          right: 13px;
        }
        .button-inner{
          justify-content: flex-start;
          padding: 0 15px;
          font-size: 14px;
        }
        img{
          margin-right: 10px;
          height: 20px;
        }
      }
  
      .custom-dropdown{
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        top: -150px;
        left: 0;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .list{
          width: 100%;
          background: #fff;
          border-radius: 15px;
          overflow: hidden;
          padding: 15px;
          ion-list-header{
            padding-left: 0;
            margin: 0;
            .label{
              font-size: 16px !important;
              font-weight: 600;
              margin: 0;
            }
          }
          .item-radio {
            padding-left: 0;
            .label{
              img{
                height: 12px;
                margin-right: 5px;
              }
            }
          }
          
        }
        .list-area-radio{
          width: 100%;
          padding: 0;
          border-radius: 0;
          max-height: 200px;
          overflow-y: auto;
        }
        .button{
          box-shadow: none;
        }
      }
      .upload-list{display: flex;justify-content: space-between;padding:20px;}
      .upload-list li{
        width:46%;;
        position: relative;

      }
      .upload-list li a{
        position: absolute;
        left: -10px;
        top: -13px;
        color: #131212;
        font-size: 23px;
      }
      .custom-select-area{
        position: relative;
        .custom-dropdown{
          position: absolute;
          min-height: 100vh;
          
        }
      }

      .rtl-arabic{
        .profile-info {
          .item {
            padding-right: 5px;
            text-align: right;
          }
        }
        .text-input,.select-text{
          text-align: right;
          direction: rtl;
        }
        .country-select {
          .button-inner{
            justify-content: flex-end;
          }

        }
        .search {
          text-align: right;
        }
        .phone-no{
          position: absolute;
          top: 51px;
          left: auto;
          z-index: 99;
          border-left: 1px solid #9f9f9f;
          border-right: 0;
          padding-right: 5px;
          right: 13px;
          text-align: right;
          direction: rtl;
        }
        .phone-wrap{
          .label{
            margin: 10px 0 0px !important;
          }
        }  
        .phone-wrap ion-input{
          padding-right: 43px;
          padding-left: 0;
        }      
      }
      

      .custom-dropdown{
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100% !important;
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        .list{
          width: 80%;
          background: #fff;
          border-radius: 15px;
          overflow: hidden;
          padding: 15px;
          ion-list-header{
            padding-left: 0;
            margin: 0;
            .label{
              font-size: 16px !important;
              font-weight: 600;
              margin: 0;
            }
          }
          .item-radio {
            padding-left: 0;
            .label{
              img{
                height: 12px;
                margin-right: 5px;
              }
            }
          }
          
        }
        .list-area-radio{
          width: 100%;
          padding: 0;
          border-radius: 0;
          max-height: 200px;
          overflow-y: auto;
        }
        .button{
          box-shadow: none;
        }
      }
}
