<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.change_password}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="selectedlanguage == 1">
  <form #loginForm="ngForm" [formGroup]="changeForm" novalidate>
    <ion-list no-lines>
      

        <ion-item>
            <ion-label stacked color="primary">{{old_password}}</ion-label>
    <ion-input type="password" formControlName="old_password" placeholder="Old password here" required>
            </ion-input>
          </ion-item>
    <p *ngIf="!changeForm.controls['old_password'].valid && changeForm.controls['old_password'].touched" ion-text color="danger" padding-left>
      Old Password is required </p>


      <ion-item>
        <ion-label stacked color="primary">{{new_password}}</ion-label>
<ion-input name="password" type="password" formControlName="password" placeholder="New password here" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['password'].valid && changeForm.controls['password'].touched" ion-text color="danger" padding-left>
  {{this.password_match_error_mobile_2}} </p>
  
      <ion-item>
        <ion-label stacked color="primary">{{retype_password}}</ion-label>
<ion-input name="con_password" type="password" formControlName="con_password" placeholder="Re-type password" (ngModelChange)="checkpassword($event,changeForm.value)" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['con_password'].valid && changeForm.controls['con_password'].touched" ion-text color="danger" padding-left>
  {{this.password_match_error_mobile_1}}</p>
<p *ngIf="!passwordmatch  && changeForm.controls['con_password'].valid" ion-text color="danger" padding-left>{{this.password_match_error_mobile}} </p>
  
      <div padding class="p-b-5">
        <button ion-button round class="blue-btn" [disabled]="!passwordmatch" (click)="changepass(changeForm.value)" type="submit" block>{{this.Save_Changes}}</button>
      </div>
  
  
    </ion-list>
  
  </form>
</ion-content>
<ion-content *ngIf="selectedlanguage == 2" class="rtl-arabic">
  <form #loginForm="ngForm" [formGroup]="changeForm" novalidate>
    <ion-list no-lines>
      

        <ion-item>
            <ion-label stacked color="primary">{{old_password}}</ion-label>
    <ion-input type="password" formControlName="old_password" placeholder="Old password here" required>
            </ion-input>
          </ion-item>
    <p *ngIf="!changeForm.controls['old_password'].valid && changeForm.controls['old_password'].touched" ion-text color="danger" padding-left>
      Old Password is required </p>


      <ion-item>
        <ion-label stacked color="primary">{{new_password}}</ion-label>
<ion-input name="password" type="password" formControlName="password" placeholder="New password here" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['password'].valid && changeForm.controls['password'].touched" ion-text color="danger" padding-left>
  {{this.password_match_error_mobile_2}} </p>
  
      <ion-item>
        <ion-label stacked color="primary">{{retype_password}}</ion-label>
<ion-input name="con_password" type="password" formControlName="con_password" placeholder="Re-type password" (ngModelChange)="checkpassword($event,changeForm.value)" required>


        </ion-input>
      </ion-item>
<p *ngIf="!changeForm.controls['con_password'].valid && changeForm.controls['con_password'].touched" ion-text color="danger" padding-left>
  {{this.password_match_error_mobile_1}}</p>
<p *ngIf="!passwordmatch  && changeForm.controls['con_password'].valid" ion-text color="danger" padding-left>{{this.password_match_error_mobile}} </p>
  
      <div padding class="p-b-5">
        <button ion-button round class="blue-btn" [disabled]="!passwordmatch" (click)="changepass(changeForm.value)" type="submit" block>{{this.Save_Changes}}</button>
      </div>
  
  
    </ion-list>
  
  </form>
</ion-content>
