// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
      @media (max-width: $max) {
        @content;
      }
    } @else {
      @content;
    }
  }


  // Name of the next breakpoint, or null for the last breakpoint.
  //
  //    >> breakpoint-next(sm)
  //    md
  //    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  //    md
  //    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
  //    md
  @function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
  }


  // Maximum breakpoint width. Null for the largest (last) breakpoint.
  // The maximum value is calculated as the minimum of the next one less 0.1.
  //
  //    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  //    767px
  @function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
  }


  // Creates text alignment classes based on screen size
  // TODO this would be nice to add to the framework
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      // Provide text `[text-{bp}]` attributes for aligning text based on screen size
      [text#{$infix}-center] {
        text-align: center;
      }

      [text#{$infix}-left] {
        text-align: left;
      }

      [text#{$infix}-right] {
        text-align: right;
      }

      [hidden#{$infix}-up] {
        display: none;
      }
    }

    @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
      [hidden#{$infix}-down] {
        display: none;
      }
    }
  }

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');

  body, h1,h2,h3,h4,h5,h6,p,b,span,label,input,.label, .select-text, a, li, .segment-button, .toolbar-title, div{font-family: 'Poppins', sans-serif; font-weight: 400; white-space: normal !important;}
  .button-md{text-transform: none;height:2.8em; font-family: 'Poppins', sans-serif; font-size:1.6rem}
	.button-ios{text-transform: none;height:2.8em; font-family: 'Poppins', sans-serif; font-size:1.6rem}
	.item-md,.item-ios{font-size:1.6rem}
	ion-content.dark-bg.content {background-color:#3f475f !important}

  h6 {font-size: 1.4rem;}

  .text-center{text-align: center !important}
  .text-right{text-align: right !important}
  .text-uppercase{text-transform: uppercase}

  .side-bar-header{padding:33px 50px; background: url('../assets/img/left-panel-bg.jpg') no-repeat top center; background-size: cover;
    ion-thumbnail img{border-radius: 100%;width:70px !important;height:70px!important;}
    .item-inner{border-bottom:0 !important}
    h2{color:#fff;font-weight:400;font-size:18px;white-space: normal !important;}
    p{color:#fff;font-weight:300;font-size:12px;}
    .label{margin-right:0; margin-top:0; margin-bottom: 0;}
    ion-thumbnail[item-start] {margin-right:10px !important;}
  }
  .sidepanel-list{border:0;box-shadow: none; margin-left:0; margin-right:0; width:100%; margin-top: 0}
  .sidepanel-list ion-item{border-bottom:1px solid #e1e1e1;color:#555;font-size: 1.4rem}
	.sidepanel-list ion-icon.icon {min-height: 2.8rem;font-size: 2rem;line-height: 1.5; color: #222222}
	.sidepanel-list .item-inner{margin-left:5px !important}

	.mr-2{margin-right: 8px;}
	.p-0{padding: 0px !important;}
	.p-t-5{padding-top: 5px !important;}
	.p-b-5{padding-bottom: 5px !important;}
	.pl-0{ padding-left: 0 !important;}
	.pr-0{ padding-right: 0 !important;}
	.pt-0{ padding-top: 0 !important;}
	.pb-0{ padding-bottom: 0 !important;}
	.m-0{margin: 0px !important;}
	.mt-0{ margin-top: 0 !important;}
	.mb-0{ margin-bottom: 0 !important;}
	.mr-0{ margin-right: 0 !important;}
	.ml-0{ margin-left: 0 !important;}
	.m-t-5{margin-top: 5px !important;}
	.m-t-10{margin-top: 10px !important;}
	.m-b-5{margin-bottom: 5px !important;}
	.m-b-10{margin-bottom: 10px !important;}
	.m-b-20{margin-bottom: 20px !important;}
	.w-100{width:100% !important;}

 	ion-header .toolbar-background{ background-color: #000;}
 	ion-footer .toolbar-background{ background-color: #fff;}
 	ion-footer .toolbar-content .col{padding: 0px;}
 	ion-footer .toolbar-content a{color: #000000 !important; border-right: 1px solid #dedede; padding: 5px; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between}
 	ion-footer .toolbar-content a.active,  	ion-footer .toolbar-content a:hover{color: #fff !important; background:#000;opacity: 0.9 !important; }
 	ion-footer .toolbar-content a.active img,  ion-footer .toolbar-content a:hover img{-webkit-filter: invert(100%); }
   ion-footer .toolbar-content a.profile-link.active img,  ion-footer .toolbar-content a.profile-link:hover img{-webkit-filter: none }
   ion-footer{
    box-shadow: 10px 0 20px rgba(0,0,0,.4) !important;
   }
   ion-footer .toolbar-content a p{font-size:11px; text-transform: uppercase; margin: 0;font-weight: 800;height: 28px;}
  //  ion-footer .toolbar-content a p.active,
  //  ion-footer .toolbar-content a p:hover{
  //   //  color: #fff !important;
  //  }
  ion-footer .row{
    flex-wrap: nowrap;
  }
 	ion-footer .toolbar-content a span.footer-icon{min-height:30px; position: relative; }
 	ion-footer .toolbar-content a span.footer-icon img{width: 24px !important;}
 	ion-footer .toolbar-content a span.profile{min-height:30px}
 	ion-footer .toolbar-content a span.profile img{width:24px; height:24px; border-radius: 100%;}
	.bar-button-default{color: #fff; }
	.text-white{color: #fff;}
  ion-title .toolbar-title{color:#fff!important;; font-weight:300!important; font-size: 1.65rem;}

  .alert-button{color:#000!important}
  .alert-title {font-size: 16px !important;}

  .grey-btn{
  background: rgba(131,131,131,1);
  background: -moz-linear-gradient(top, rgba(131,131,131,1) 0%, rgba(96,96,96,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(131,131,131,1)), color-stop(100%, rgba(96,96,96,1)));
  background: -webkit-linear-gradient(top, rgba(131,131,131,1) 0%, rgba(96,96,96,1) 100%);
  background: -o-linear-gradient(top, rgba(131,131,131,1) 0%, rgba(96,96,96,1) 100%);
  background: -ms-linear-gradient(top, rgba(131,131,131,1) 0%, rgba(96,96,96,1) 100%);
  background: linear-gradient(to bottom, rgba(131,131,131,1) 0%, rgba(96,96,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#606060', GradientType=0 );
}

.dark-grey-btn{
  background: rgba(114,113,113,1);
  background: -moz-linear-gradient(top, rgba(114,113,113,1) 0%, rgba(56,56,56,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(114,113,113,1)), color-stop(100%, rgba(56,56,56,1)));
  background: -webkit-linear-gradient(top, rgba(114,113,113,1) 0%, rgba(56,56,56,1) 100%);
  background: -o-linear-gradient(top, rgba(114,113,113,1) 0%, rgba(56,56,56,1) 100%);
  background: -ms-linear-gradient(top, rgba(114,113,113,1) 0%, rgba(56,56,56,1) 100%);
  background: linear-gradient(to bottom, rgba(114,113,113,1) 0%, rgba(56,56,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727171', endColorstr='#383838', GradientType=0 );
}

.blue-btn{
  background: rgba(30,72,114,1);
  background: -moz-linear-gradient(top, rgba(30,72,114,1) 0%, rgba(30,51,73,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,72,114,1)), color-stop(100%, rgba(30,51,73,1)));
  background: -webkit-linear-gradient(top, rgba(30,72,114,1) 0%, rgba(30,51,73,1) 100%);
  background: -o-linear-gradient(top, rgba(30,72,114,1) 0%, rgba(30,51,73,1) 100%);
  background: -ms-linear-gradient(top, rgba(30,72,114,1) 0%, rgba(30,51,73,1) 100%);
  background: linear-gradient(to bottom, rgba(30,72,114,1) 0%, rgba(30,51,73,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4872', endColorstr='#1e3349', GradientType=0 );
}
.brown-btn{
background: rgba(90,38,38,1);
background: -moz-linear-gradient(top, rgba(90,38,38,1) 0%, rgba(70,27,27,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,38,38,1)), color-stop(100%, rgba(70,27,27,1)));
background: -webkit-linear-gradient(top, rgba(90,38,38,1) 0%, rgba(70,27,27,1) 100%);
background: -o-linear-gradient(top, rgba(90,38,38,1) 0%, rgba(70,27,27,1) 100%);
background: -ms-linear-gradient(top, rgba(90,38,38,1) 0%, rgba(70,27,27,1) 100%);
background: linear-gradient(to bottom, rgba(90,38,38,1) 0%, rgba(70,27,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a2626', endColorstr='#461b1b', GradientType=0 );
}
.scroll-content{padding-bottom:88px !important;}

.menu-inner{
  background: rgba(228, 229, 229, 0.9) !important;
}
.menu-bg .item {
  background-color: transparent !important;
}
.menu-bg .card{
  background: none !important;
}
.menu-bg .content{
  background-color: transparent !important;
}
.menu-bg .content-ios{
  background-color: transparent !important;
}
.sidepanel-list ion-item{
  color: #000;
}
.header-md::after{
  background-image: none !important;
}
.f-notofy{
    position: absolute;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 50px;
    left: 47px;
    top: -5px;
    background-color: rgb(58, 58, 58);
    font-weight: 400;
}

body.keyboard-is-open .hide-on-keyboard-open {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

.arabic{
  text-overflow: ellipsis !important;
}
.rtl-arabic{
  .sidepanel-list ion-item{
      text-align: right;
      flex-direction: row-reverse;
  }
}